@model IEnumerable<Service>
@{
    ViewData["Title"] = "Index";
    var counter = 1;
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container mt-2">
                <div class="row">
                    <div class="alert alert-light alertstyle mb-3">
                        <i class="fa fa-wrench ">  Service</i>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="mb-2 mt-3">
                         <a class="btn customBlue" asp-controller="Service" asp-action="AddService">
                              <i class="fa fa-plus"> Add new</i>
                        </a>
                         <i class="fa fa-search fabg ">
                              <input type="text" id="myInput" onkeyup="myfunction()" placeholder="search About..." class="search" />
                         </i>
                    </div>
                 <div class="table-responsive table-style">
                    <table class="table table-bordered table-hover table-striped mt-4   " id="myTable">

                        <thead class="bgcolor   ">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Name</th>
                                <th scope="col">Image</th>
                                <th scope="col"> IsDelete</th>
                                <th scope="col">Operation</th>
                            </tr>
                        </thead>

                        <tbody>
                             @foreach (var item in Model)
                                {
                                     <tr>
                                         <td>@counter</td>
                                         <td>@item.Title</td>      
                                          <td>@item.Name</td>
                                          <td class="text-center">
                                             <img src="~/@item.ImageUrl" alt="@item.Alt" title="@item.Title" class="imgsize img-thumbnail"/>
                                          </td>
                                          <td class="text-center">
                                             @if(item.IsDelete){
                                               <h5 class="text-danger text-center">Deleted</h5>
                                            }
                                            else
                                            {
                                              <h5 class="text-success text-center">Active</h5>
                                            }
                                        </td>
                                  
                                         <td class="text-center">
                                            @if (item.IsDelete)
                                             {
                                              <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Service" title="Undo" class="btn-success btn mr-3 btn-color-del mt-2 "><i class="fa fa-undo"></i></a>
                                            }
                                            else
                                            {
                                               <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Service" title="Delete" class="btn-danger btn-color-del btn mr-3 mt-2"><i class="fa fa-trash"></i></a>
                                             }
                                            <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" asp-controller="Service" class="btn-coloredit btn mr-3  mt-2 "><i class="fa fa-edit "></i></a>
                                            <a asp-action="Detials" asp-route-id="@item.Id" title="Detail" asp-controller="Service" class="btn-coloredit1 btn mr-3 mt-2  "><i class="fa fa-book "></i></a>
                                        </td> 
                                     </tr>
                                     counter++;
                                   }
                            </tbody>
                    </table>
                  </div>
                </div>
             </div>

          </div>
     </div>
 </div>
 
  @section AdminScripts
{
    <script>
    function myfunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (var i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];

            if (td) {
                txtValue = td.textContent || td.innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    </script>
    }



