@model Product
@{
    ViewData["Title"] = "Detials";
}


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container mt-1">
                <div class="row">
                    <div class="alert alert-info alertstyle mb-3">
                        <i class="fa fa-book"> Product Details</i>
                    </div>
                </div>
            </div>
           <div class="col-8 mt-5  offset-2">
               <div class="container mt-5">
                 <div class="divstyle-detail">
                     <div class="row p-5">
                         <div class="col-6">
                                <p> <strong>ProductID : </strong>@Model.Id </p>
                                <p> <strong>ProductName : </strong>@Model.ProductName </p>
                                <p><strong>Short_Description : </strong>@Html.Raw(Model.ShortDescription)</p>
                                <p> <strong>IsActive : </strong> @Model.IsActive</p>
                                <p> <strong>IsDelete : </strong> @Model.IsDelete</p>
                                <p> <strong>CategoryId : </strong> @Model.CategoryId</p>
                         </div>
                         <div class="col-6"> 
                                <p> <strong>IsOrginal : </strong> @Model.IsOrginal</p>
                                <p> <strong>Count : </strong> @Model.count</p>
                                <p> <strong>MainPrice : </strong> @Model.MainPrice</p>
                                <p> <strong>SpecialPrice : </strong> @Model.SpecialPrice</p>
                                <p> <strong>Alt : </strong>@Model.Alt</p>
                                <p> <strong>Title : </strong>@Model.Title</p>
                             
                            </div>
                            <p><strong>Description : </strong>@Html.Raw(Model.FullDescription)</p>
                            <p>
                                <strong>Product_image:</strong>
                                <img controls class="imgdetail txt-center " alt="@Model.Alt" title="@Model.Title" src="~/@Model.ProductImage" />
                            </p>
                          
                          
                       
                     </div>
                     <div class="form-group text-right m-b-0 d-flex justify-content-center">
                           <a asp-action="ShowProduct" class="btn btn-back mb-3"> Dack</a>
                     </div>
                 </div>
               </div>
           </div>
        </div>
     </div>
</div>



