@model Product

@{
    ViewData["Title"] = "ShowAllPrice";
}


<div class="col-sm-12">
    <div class="panel">
        <div class="panel-body" style="margin-top:5%;">


            <div class="editable-responsive">
                <div id="datatable-editable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                    <div class="row">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-b-30 mb-3">
                                    <a asp-action="ShowProduct" class="btn btn-back mb-3"> Dack</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">

                            @if (TempData["Result"] != null)
                            {
                                if (TempData["Result"].ToString() == "true")
                                {
                                    <div class="alert alert-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        Succellfully added!
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        Oops! somthing wrong!
                                    </div>
                                }
                            }

                            @if (TempData["NotFoundSlider"] != null)
                            {
                                <script>

                                    setTimeout(function () {
                                        Swal.fire({
                                            position: 'top-end',
                                            icon: 'error',
                                            title: 'soryy! Not fount .',
                                            showConfirmButton: false,
                                            timer: 3000
                                        })
                                    }, 50)

                                </script>
                            }
                            <div class="table-responsive table-style">
                                <table class="table table-bordered table-hover table-striped mt-4   " id="datatable-editable"  >
                                    <thead class="bgcolor   ">
                                        <tr role="row">
                                            <th scope="col">Id</th>
                                            <th scope="col">ProductName</th>
                                            <th scope="col">MainPrice</th>
                                            <th scope="col">SpecialPrice</th>
                                            <th scope="col">Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr class="gradeX odd" role="row">
                                                <td class="text-center">@Model.Id</td>
                                                <td class="text-center">@Model.ProductName</td>
                                                <td class="text-center">@Model.MainPrice</td>
                                                <td class="text-center">@Model.SpecialPrice</td>
                                                <td class="text-center">@Model.count</td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: panel body -->

    </div> <!-- end panel -->
</div> <!-- end col-->
@section AdminScripts{
    <script src="~/panel/assets/js/sweetalert.js"></script>
}


