@model IEnumerable<Final_Wave.DataLayer.Entites.Team>
@{
    ViewData["Title"] = "Wave software service";
    ViewData["Description"] = "This site is a new site , It provide diffirent software (desktop application , mobile application web application, video and image editing,banner , prototype.).";
    Layout = "_SiteLayout";
}

    <!-- start of upper wave -->
    <div class="upper-wave">
        <img src="~/assets/images/upper-back.png" class="upper-wave img-responsive">
        <h3 class="ourteam-title text-center ">OUR TEAM</h3>
    </div>
    <div class="container-fluid">
        <!-- end of upper wave -->

        <br><br><br><br><br><br><br><br><br>

        <!-- start of team members -->
        <div class="container custome-bubles">
            <div class="row">
              @foreach(var item in Model){
                 if(!item.IsDelete){
                    <div class="col-sm-6 col-md-6">
                        <div class="media p-3 mt-3 bg-white mr-2 team-main-div team-page">
                            <img src="~/@item.ImageUrl" class="team-img img-responsive" alt="@item.Alt" title="@item.Title" asp-append-version="true">
                            <div class="ml-3">
                                <h5 class=" team-name-color">@item.Name</h5>
                                <p class="position">@item.PositionName</p>
                                <p class="desc" >
                                    @Html.Raw(item.ShortDesc)
                                </p>
                            </div>
                        </div>
                    </div>
                }
              }
            </div>


        </div>
        <!-- end of team members -->




        <br><br>
        <!-- Start of footer -->
</div>
 