@model IEnumerable<Order>
@{
    ViewData["Title"] = "Index";
    var counter = 1;
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container mt-4">
                <div class="row">
                    <div class="alert alert-light alertstyle mb-3">
                        <i class="fa fa-plus "> Order</i>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="mb-2 mt-3 wrapper">
                    <i class="fa fa-search fabg ">
                        <input type="text" id="myInput" onkeyup="myfunction()" placeholder="search ..." class="search" />
                    </i>
                </div>
                <div class="row">
                    <div class="table-responsive table-style">
                        <table class="table table-bordered table-hover table-striped mt-4   " id="myTable">
                            <thead class="bgcolor   ">
                                <tr class="text-center">
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">LastName</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Answare</th>
                                    <th scope="col">Operation</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">@counter</td>
                                        <td class="text-center">@item.Name</td>
                                        <td class="text-center">@item.LastName</td>
                                        <td class="text-center">@item.EmailAddress</td>
                                        <td class="text-center">@item.PhoneNumber</td>
                                        <td class="text-center">@item.OrderTime.ToString("dddd, dd MMMM yyyy")</td>
                                        <td class="text-center">
                                            @if (item.IsSend)
                                            {
                                                <a asp-action="Message" asp-route-id="@item.Id" asp-controller="Order" title=" Readed" class="btn-success btn mr-3 mb-1 btn-color-del"><i class="fa fa-edit">Accepted</i></a>
                                            }
                                            else
                                            {
                                                <a asp-action="Message" asp-route-id="@item.Id" asp-controller="Order" title="No_Read" class="btn-primary btn mr-3 mb-1 btn-color-del"><i class="fa fa-book">New</i></a>
                                            }

                                        </td>
                                        <td class="text-center">
                                            <a asp-action="Details" asp-route-id="@item.Id" title="Details" asp-controller="Order" class="btn-success btn mr-3 mb-1 "><i class="fa fa-book "></i></a>
                                            <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" asp-controller="Order" class="btn-coloredit btn mr-3 mb-1"><i class="fa fa-edit"></i></a>
                                            <a asp-action="GetNotation" asp-route-orderId="@item.Id" title="prograss" asp-controller="Notation" class="btn-coloredit btn mr-3 mb-1"><i class="fa fa-edit">notation</i></a>
                                        </td>

                                    </tr>
                                    counter++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section AdminScripts
    {
    <script>
        function myfunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (var i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    }
