@model IEnumerable<Final_Wave.DataLayer.Entites.Team>

@foreach(var item in Model){
    if(!item.IsDelete){
        <div class="col-sm-6 col-md-6">
            <div class="media p-3 mt-3 bg-white mr-2 team-main-div team-page">
                <img src="~/@item.ImageUrl" class="team-img img-responsive" alt="@item.Alt" title="@item.Title" asp-append-version="true">
                <div class="ml-3">
                    <h5 class=" team-name-color">@item.Name</h5>
                    <p>@item.PositionName</p>
                    <p>
                        @Html.Raw(item.ShortDesc)
                    </p>
                </div>
            </div>
        </div>
    } 
}