@model IEnumerable<Category>
@{
    ViewData["Title"] = "Category";
    var counter = 1;
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container mt-4">
                <div class="row">
                    <div class="alert alert-light alertstyle mb-3">
                        <i class="fa fa-book "> Category</i>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="mb-2 mt-3">
                         <a class="btn customBlue" asp-controller="Category" asp-action="AddCategory">
                          <i class="fa fa-plus"> Add new  category</i>
                        </a>
                         <i class="fa fa-search fabg ">
                         <input type="text" id="myInput" onkeyup="myfunction()" placeholder="search Category..." class="search" />
                         </i>
                    </div>
                 <div class="table-responsive table-style">
                    <table class="table table-bordered table-hover table-striped mt-4   " id="myTable">
                        <thead class="bgcolor   ">
                            <tr class="text-center">
                                <th scope="col" >#</th>
                                <th scope="col">CategoryName</th>
                                <th scope="col">Image</th>
                                <th scope="col">Is Deleted</th>
                                <th scope="col">Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                             @foreach (var item in Model)
                                {
                                     <tr>
                                         <td class="text-center">@counter</td>
                                         <td class="text-center">@item.CategoryName</td>
                                           <td class="text-center">
                                             <img src="~/@item.CategoryPhoto" alt="@item.Alt" title="@item.Title" class="imgsize img-thumbnail"/>
                                         </td>
                                           <td class="text-center">
                                             @if(item.IsDelete){
                                               <h5 class="text-danger text-center">Deleted</h5>
                                            }
                                            else
                                            {
                                              <h5 class="text-success text-center">Active</h5>
                                            }
                                        </td>
                                  
                                         <td class="text-center">
                                            @if (item.IsDelete)
                                             {
                                              <a asp-action="DeleteCategory" asp-route-id="@item.Id" asp-controller="Category" title="Undo" class="btn-success btn mr-3 mb-1 btn-color-del"><i class="fa fa-undo"></i></a>
                                            }
                                            else
                                            {
                                               <a asp-action="DeleteCategory" asp-route-id="@item.Id" asp-controller="Category" title="Delete" class="btn-danger btn-color-del btn mr-3 mb-1"><i class="fa fa-trash"></i></a>
                                             }
                                              <a asp-action="EditCategory" asp-route-id="@item.Id" title="Editcategory" asp-controller="Category" class="btn-coloredit btn mr-3 mb-1"><i class="fa fa-edit "></i></a>
                                          </td>
                                     </tr>
                                          counter++;
                                   }
                            </tbody>
                    </table>
                  </div>
                </div>
             </div>

          </div>
     </div>
 </div>


  @section AdminScripts
{
    <script>
    function myfunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (var i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];

            if (td) {
                txtValue = td.textContent || td.innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    </script>
    }


